{
  "presets": [
    ["@babel/preset-env", {
    "targets": [
      "last 2 versions",
      "not dead",
      "not < 2%",
      "not ie 11"
    ],
    "useBuiltIns": "entry"
  }],
  "@babel/preset-react" // Presets for babel to read react app
  ],
  "plugins": [
    "react-hot-loader/babel", // Plugins for react to use hot reloader
    "@babel/plugin-proposal-class-properties", // Plugins for babel to deal with class javascript
    "@babel/plugin-syntax-dynamic-import" // Plugins for lazy loader
  ],
  // Only have this plugin when run test
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}